@model UpdatePasswordViewModel

@using (Html.BeginForm("SavePassword", "User", FormMethod.Post, new { id = "editPasswordForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    @Html.EditorForModel()
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <button class="btn btn-default">@Resource.Actions_Save</button>
        </div>
    </div>
}
<script type="text/javascript">
    $(function() {
        $('#editPasswordForm').submit(function() {
            NBlackout.MoneyManager.Security.User.Password.save({
                form: $(this),
                success: function() {
                    noty({
                        text: '@Resource.Messages_ModificationDone'
                    });
                }
            });

            return false;
        });
    });
</script>