@Scripts.Render("~/Scripts/NBlackout/MoneyManager/Administration/AccountCategories/Bundle")
@Scripts.Render("~/Scripts/NBlackout/MoneyManager/Administration/AccountCategories/Index/Bundle")

<div id="accountCategoriesListContainer"></div>
<script type="text/javascript">
    $(function() {
        NBlackout.MoneyManager.Administration.AccountCategories.Index.List.init({
            container: '#accountCategoriesListContainer',
            url: '@Url.Action("List")'
        });

        handleAccountCategoriesIndexEvents();
    });
</script>