@Scripts.Render("~/Scripts/NBlackout/MoneyManager/Configuration/Organizations/List/Bundle")

<h3>@Resource.Labels_Organizations</h3>
<div id="organizationsListPartialContainer"></div>
<script type="text/javascript">
    $(function() {
        NBlackout.MoneyManager.Configuration.Organizations.List.DataGrid.init({
            container: '#organizationsListPartialContainer',
            url: '@Url.Action("ListPartial")'
        });

        handleOrganizationsListEvents();
    });
</script>