@Scripts.Render("~/Scripts/NBlackout/MoneyManager/Administration/Customers/Bundle")
@Scripts.Render("~/Scripts/NBlackout/MoneyManager/Administration/Customers/Index/Bundle")

<div id="customersListContainer"></div>
<script type="text/javascript">
    $(function() {
        NBlackout.MoneyManager.Administration.Customers.Index.List.init({
            container: '#customersListContainer',
            url: '@Url.Action("List")'
        });

        handleCustomersIndexEvents();
    });
</script>