@model TransactionForecastViewModel

@using (Html.BeginForm("SaveForecast", "Planning", FormMethod.Post, new { id = "createTransactionForecastForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    @Html.EditorForModel()
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button class="btn btn-default">@Resource.Actions_Save</button>
        </div>
    </div>
}
<script type="text/javascript">
    $(function() {
        $('#createTransactionForecastForm').submit(function() {
            NBlackout.MoneyManager.Configuration.Planning.ForecastHitsPartial.Forecasts.save({
                form: $(this),
                success: function() {
                    noty({
                        text: '@Resource.Messages_CreationDone'
                    });

                    $(document).trigger('forecasts-updated');
                }
            });

            return false;
        });
    });
</script>