@model OrganizationCategoryViewModel

@using (Html.BeginForm("Save", "OrganizationCategories", FormMethod.Post, new { id = "createOrganizationCategoryForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    @Html.EditorForModel()
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button class="btn btn-default">@Resource.Actions_Save</button>
        </div>
    </div>
}
<script type="text/javascript">
    $(function() {
        $('#createOrganizationCategoryForm').submit(function() {
            NBlackout.MoneyManager.Administration.OrganizationCategories.ListPartial.Crud.save({
                form: $(this),
                success: function() {
                    noty({
                        text: '@Resource.Messages_CreationDone'
                    });

                    $(document).trigger('organization-categories-updated');
                }
            });

            return false;
        });
    });
</script>